<div class="callout callout--primary">
    <div class="grid grid--1x2">
        <div class="callout_contnt">
            <h2 class="callout__heading">Ready to get started</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Fugit incidunt nobis iusto veniam error adipisci eius deleniti dolore
                 voluptate. Quis quas in commodi. Accusamus vitae natus voluptate sunt explicabo aperiam.</p> 
        </div>
        <a href="#" class="btn btn--secondary">Get Started</a>
    </div>
</div>